:root {
    --font-color: #464646;

    --theme-pink: #FEC5BB;
    --theme-pink-lighter: #FCD5CE;
    --theme-pink-lightest: #FAE1DD;

    --theme-green: #D8E2DC;
    --theme-green-lighter: #E8E8E4;

    --theme-orange: #FEC89A;
    --theme-orange-lighter: #FFD7BA;
    --theme-orange-lightest: #FFE5D9;

    --theme-yellow: #FFF5ED;

    --primary-color: var(--theme-green);
    --primary-color-lighter: var(--theme-green-lighter);

    --secondary-color: var(--theme-pink);
    --secondary-color-lighter: var(--theme-pink-lighter);
    --secondary-color-lightest: var(--theme-pink-lightest);
}
